/****** Minibar component ******/
@layer index-minibar {
    .minibar_container {
        background: var(--linear-gradient);
    }

    .minibar_container > .grid_container {
        padding: .5rem 0;
        border-bottom: 1px solid var(--color-aqua-blue);
    }
}

/****** Navbar component ******/
@layer index-navbar {
    .navbar_container {
        background: var(--linear-gradient);
        box-shadow: none;
    }

    .navbar_container > .grid_container .navbar_logo p span:nth-child(1),
    .navbar_anchors .navbar_lists p a,
    .navbar_anchors .navbar_links .navbar_hamburger .navbar_icon,
    .navbar_anchors .navbar_links p a {
        color: var(--color-light-white);
        transition: color .3s ease;
    }

    .navbar_anchors .navbar_links .vertical_line {
        background-color: var(--color-light-white);
    }

    .navbar_anchors .navbar_links p .icon {
        color: var(--color-white);
    }

    .navbar_anchors .navbar_links p .icon:hover {
        color: var(--color-aqua-blue);
    }

    .navbar_anchors .navbar_lists p a:hover,
    .navbar_anchors .navbar_links .navbar_hamburger .navbar_icon:hover,
    .navbar_anchors .navbar_links p a:hover {
        color: var(--color-aqua-blue);
    }
}

/****** Hero component ******/
@layer index-hero {
    .index_hero_section {
        background: var(--linear-gradient);
        color: var(--color-light-white);
        position: relative;
    }

    .index_hero_section > .grid_container {
        padding: 5rem 0 7rem;
    }

    .index_hero_title h1,
    .index_hero_title p {
        width: 75%;
        color: var(--color-light-white);
        text-transform: uppercase;
        text-align: center;
    }

    .index_hero_title h1 {
        text-transform: uppercase;
    }

    /****** Index domain search component ******/
    .index_domain_banner {
        width: 80%;
        height: calc(220/16*1rem);
        background-color: var(--color-white);
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .index_domain_banner p.title {
        text-align: center;
        font-size: var(--fontsize-18);
        text-transform: capitalize;
        color: var(--color-text-mute);
    }

    .index_domain_banner .input_group {
        width: 75%;
        height: calc(45/16 *1rem);
        overflow: hidden;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .index_domain_banner .input_group input {
        width: 100%;
        height: 100%;
        border: none;
        padding: .5rem 1rem;
        color: var(--color-text-mute);
        font-size: var(--fontsize-16);
    }

    .index_domain_banner .input_group input::placeholder {
        font-size: var(--fontsize-14);
    }

    .index_domain_banner .input_group .button_group {
        width: 100%;
        height: 110%;
    }

    .index_domain_banner .input_group .button_group select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        padding: .5rem 1rem;
        color: var(--color-text-mute);
    }

    .index_domain_banner .input_group .button_group button {
        width: 100%;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: .5rem 1rem;
        text-transform: uppercase;
    }

    .index_domain_banner .input_group .button_group button:hover {
        background-color: var(--color-main-blue);
        color: var(--color-light-white);
    }

    .index_domain_banner .domain_group {
        width: 100%;
        padding: 0 1rem;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        gap: .5rem;
    }

    .index_domain_banner .domain_group p {
        font-size: var(--fontsize-18);
    }

    .index_hero_section .cloud_image,
    .index_hero_section .laptop_image {
        width: calc(200/16 *1rem);
        height: calc(200/16 *1rem);
        position: absolute;
        bottom: -2rem;
    }

    .index_hero_section .cloud_image {
        left: 1rem;
    }

    .index_hero_section .laptop_image {
        right: 1rem;
    }

    /****** Media queries ******/
    @media screen and (max-width:calc(1100/16 *1rem)) {
        .index_domain_banner {
            height: 100%;
        }

        .index_domain_banner .domain_group {
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
        }
    }

    @media screen and (max-width:calc(950/16 *1rem)) {
        .index_hero_section > .grid_container {
            padding-bottom: 12rem;
        }

        .index_domain_banner .input_group {
            height: fit-content;
            padding: .5rem;
            flex-direction: column;
            gap: 1rem;
            overflow: auto;

            border: 1px solid var(--color-light-gray);
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        .index_domain_banner .input_group .button_group {
            border: 1px solid var(--color-light-gray);
            border-radius: 5px;
            overflow: hidden;
        }

        .index_domain_banner .input_group .button_group button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    @media screen and (max-width:calc(768/16 *1rem)) {
        .index_hero_section > .grid_container {
            flex-direction: column;
        }

        .index_hero_title {
            width: 100%;
        }

        .index_domain_banner .domain_group p {
            font-size: var(--fontsize-14);
        }
    }

    @media screen and (max-width:calc(620/16 *1rem)) {
        .index_hero_section > .grid_container {
            padding-bottom: 7rem;
        }

        .index_domain_banner {
            height: fit-content;
        }

        .index_domain_banner {
            width: 85%;
            margin-inline: auto;
        }

        .index_hero_section .cloud_image,
        .index_hero_section .laptop_image {
            display: none;
        }
    }

    @media screen and (max-width:calc(400/16 *1rem)) {
        .index_domain_banner .title {
            width: 90%;
        }

        .index_domain_banner .domain_group {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width:calc(300/16 *1rem)) {
        .index_domain_banner {
            width: 95%;
        }
    }
}

/****** Hosting component ******/
@layer index-hosting {
    .index_hosting_section {
        width: 100%;
        background-color: var(--color-light-white);
        color: var(--color-black);
    }

    .index_hosting_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .index_hosting_section .index_hosting_title {
        width: 100%;
        padding: 1rem 0;
    }

    .index_hosting_section .index_hosting_title h2 {
        text-transform: uppercase;
        font-family: var(--font-montserrat);
        text-align: center;
    }

    .index_hosting_section .index_hosting_title p {
        text-align: center;
        color: var(--color-text-mute);
    }

    .index_hosting_section .index_hosting_content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .index_hosting_content .hosting_card {
        width: 100%;
        padding: 2rem 1rem;
        background-color: var(--color-white);
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .index_hosting_content .hosting_card .card_image {
        width: calc(100/16 *1rem);
        height: calc(100/16 *1rem);
    }

    .index_hosting_content .hosting_card .card_image img {
        object-fit: contain;
    }

    .index_hosting_content .hosting_card .card_details {
        color: var(--color-text-mute);
        text-align: center;
    }

    .index_hosting_content .hosting_card .card_price {
        font-size: var(--fontsize-18);
    }

    .index_hosting_content .hosting_card .btn {
        border-radius: 25px;
        text-transform: uppercase;
    }

    /****** Media queries ******/
    @media screen and (max-width: calc(768/16 *1rem)) {
        .index_hosting_section .index_hosting_content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: calc(510/16 *1rem)) {
        .index_hosting_section .index_hosting_content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/****** Blog component ******/
@layer index-blog {
    .index_blog_section {
        background-color: var(--color-white);
        color: var(--color-black);
    }

    .index_blog_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .index_blog_section .blog_title {
        padding: 1rem 0;
        width: 100%;
    }

    .index_blog_section .blog_title h2 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
        text-align: center;
    }

    .index_blog_section .blog_title p {
        color: var(--color-text-mute);
        text-align: center;
    }

    .index_blog_section .blog_content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 1rem;
    }

    .index_blog_section .blog_content .blog_card {
        width: 100%;
        height: 100%;
    }

    .blog_content .blog_card .card_image {
        width: 100%;
        height: 100%;
    }

    .blog_content .blog_card .card_details {
        padding: 0 1rem;
    }

    .blog_content .blog_card .card_details .card_header {
        font-size: var(--fontsize-18);
        font-weight: 500;
        color: var(--color-black);
    }

    .blog_content .blog_card .card_details .card_author {
        flex-wrap: wrap;
        gap: 0;
    }

    .blog_content .blog_card .card_details .card_author p {
        color: var(--color-text-mute);
        font-size: var(--fontsize-14);
    }

    .blog_content .blog_card .card_details .card_author .card_icon {
        font-size: var(--fontsize-18);
    }

    /****** Media queries ******/
    @media screen and (max-width: calc(900/16 * 1rem)) {
        .index_blog_section .blog_content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: calc(576/16 * 1rem)) {
        .index_blog_section .blog_content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}