/****** Hero component ******/
@layer domain-hero {
    .domain_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .domain_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .domain_hero_section .domain_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .domain_hero_section .domain_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .domain_hero_section .domain_hero_content p {
        font-size: var(--fontsize-18);
    }

    .domain_hero_section .domain_hero_content p span {
        color: orange;
    }

    .domain_hero_section .domain_hero_image {
        width: 100%;
        height: 100%;
    }

    .domain_hero_section .domain_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .domain_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Search component ******/
@layer domain-search {
    .domain_search_section {
        background: var(--color-white);
        color: var(--color-black);
    }

    .domain_search_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .domain_search_section .domain_search_content {
        border: 1px solid var(--color-gray);
        padding: 1rem 2rem;
        border-radius: 3px;
    }

    .domain_search_section .domain_search_content > p:nth-child(1) {
        font-size: var(--fontsize-20);
        color: var(--color-dark-gray);
        font-weight: 500;
        text-align: center;
    }

    .domain_search_content .domain_form_group {
        width: 90%;
        padding: .5rem 1rem;
        border: 1px solid var(--color-gray);
        border-radius: 25px;
    }

    .domain_search_content .domain_form_group .domain_button_group {
        width: 100%;
    }

    .domain_search_content .domain_form_group input,
    .domain_search_content .domain_form_group select {
        width: 100%;
        border: none;
        outline: none;
        color: var(--color-dark-gray);
    }

    .domain_search_content .domain_form_group input::placeholder {
        font-size: var(--fontsize-14);
        color: var(--color-dark-gray);
    }

    .domain_search_content .domain_form_group .btn {
        width: 80%;
        border-radius: 25px;
        text-transform: uppercase;
    }

    /* Media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .domain_search_content .domain_form_group {
            flex-direction: column;
            border-radius: 10px;
            gap: 1rem;
        }

        .domain_search_content .domain_form_group input {
            padding: .5rem 1rem;
            border: 1px solid var(--color-light-gray);
            border-radius: 10px;
        }

        .domain_search_content .domain_form_group select {
            border: 1px solid var(--color-light-gray);
            border-radius: 10px;
            padding: .5rem;
        }

        .domain_search_content .domain_search_group {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .domain_search_content .domain_form_group .domain_button_group {
            flex-direction: column;
            gap: 1rem;
        }

        .domain_search_content .domain_search_group {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

/****** Alternative search component ******/
@layer domain-alternative {
    :root {
        --color1: #FE9200;
        --color2: #8D54E8;
        --color3: #DF5B3F;
        --color4: #50B5FE;
        --color5: #5BD192;
        --color6: #3C6FE4;
        --color7: #E44279;
        --color8: #FF9200;
        --color9: #26AE5F;
    }

    .domain_alt_section {
        background: var(--color-light-white);
        color: var(--color-black);
    }

    .domain_alt_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
        gap: 2rem;
    }

    .domain_alt_section .domain_alt_title {
        width: 100%;
    }

    .domain_alt_section .domain_alt_title h2 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
        text-align: center;
    }

    .domain_alt_section .domain_alt_title p {
        color: var(--color-text-mute);
        text-align: center;
    }

    .domain_alt_section .domain_alt_content {
        width: 100%;
        gap: 2rem;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
    }

    .domain_alt_section .domain_alt_content .alt_card {
        background: var(--color-white);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 2px;

        text-align: center;
        padding: 1.5rem 1rem;
        transition: transform .3s ease;
        cursor: default;
    }

    .domain_alt_content .alt_card .card_domain p:nth-child(1) {
        font-size: var(--fontsize-20);
        font-weight: 600;
    }

    .domain_alt_content .alt_card .card_price p,
    .domain_alt_content .alt_card .card_domain p {
        color: var(--color-dark-gray);
    }

    .domain_alt_content .alt_card button {
        padding: .75rem 1.5rem;
        text-transform: uppercase;

        border: 1px solid var(--color-gray);
        border-radius: 25px;
        background: transparent;
        transition: all .3s ease;
    }

    /* Seperate colors */
    .domain_alt_content .alt_card:nth-child(1) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(1) .card_price h3 {
        color: var(--color1);
    }

    .domain_alt_content .alt_card:nth-child(1) button:hover {
        background: var(--color1);
        color: var(--color-white);
        border-color: var(--color1);
    }

    .domain_alt_content .alt_card:nth-child(2) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(2) .card_price h3 {
        color: var(--color2);
    }

    .domain_alt_content .alt_card:nth-child(2) button:hover {
        background: var(--color2);
        color: var(--color-white);
        border-color: var(--color2);
    }

    .domain_alt_content .alt_card:nth-child(3) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(3) .card_price h3 {
        color: var(--color3);
    }

    .domain_alt_content .alt_card:nth-child(3) button:hover {
        background: var(--color3);
        color: var(--color-white);
        border-color: var(--color3);
    }

    .domain_alt_content .alt_card:nth-child(4) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(4) .card_price h3 {
        color: var(--color4);
    }

    .domain_alt_content .alt_card:nth-child(4) button:hover {
        background: var(--color4);
        color: var(--color-white);
        border-color: var(--color4);
    }

    .domain_alt_content .alt_card:nth-child(5) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(5) .card_price h3 {
        color: var(--color5);
    }

    .domain_alt_content .alt_card:nth-child(5) button:hover {
        background: var(--color5);
        color: var(--color-white);
        border-color: var(--color5);
    }

    .domain_alt_content .alt_card:nth-child(6) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(6) .card_price h3 {
        color: var(--color6);
    }

    .domain_alt_content .alt_card:nth-child(6) button:hover {
        background: var(--color6);
        color: var(--color-white);
        border-color: var(--color6);
    }

    .domain_alt_content .alt_card:nth-child(7) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(7) .card_price h3 {
        color: var(--color7);
    }

    .domain_alt_content .alt_card:nth-child(7) button:hover {
        background: var(--color7);
        color: var(--color-white);
        border-color: var(--color7);
    }

    .domain_alt_content .alt_card:nth-child(8) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(8) .card_price h3 {
        color: var(--color8);
    }

    .domain_alt_content .alt_card:nth-child(8) button:hover {
        background: var(--color8);
        color: var(--color-white);
        border-color: var(--color8);
    }

    .domain_alt_content .alt_card:nth-child(9) .card_domain p:nth-child(1),
    .domain_alt_content .alt_card:nth-child(9) .card_price h3 {
        color: var(--color9);
    }

    .domain_alt_content .alt_card:nth-child(9) button:hover {
        background: var(--color9);
        color: var(--color-white);
        border-color: var(--color9);
    }

    /* Media queries */
    @media screen and (max-width: calc(992/16 *1rem)) {
        .domain_alt_section .domain_alt_content {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: calc(768/16 *1rem)) {
        .domain_alt_content .alt_card:nth-child(1) button {
            background: var(--color1);
            color: var(--color-white);
            border-color: var(--color1);
        }

        .domain_alt_content .alt_card:nth-child(2) button {
            background: var(--color2);
            color: var(--color-white);
            border-color: var(--color2);
        }

        .domain_alt_content .alt_card:nth-child(3) button {
            background: var(--color3);
            color: var(--color-white);
            border-color: var(--color3);
        }

        .domain_alt_content .alt_card:nth-child(4) button {
            background: var(--color4);
            color: var(--color-white);
            border-color: var(--color4);
        }

        .domain_alt_content .alt_card:nth-child(5) button {
            background: var(--color5);
            color: var(--color-white);
            border-color: var(--color5);
        }

        .domain_alt_content .alt_card:nth-child(6) button {
            background: var(--color6);
            color: var(--color-white);
            border-color: var(--color6);
        }

        .domain_alt_content .alt_card:nth-child(7) button {
            background: var(--color7);
            color: var(--color-white);
            border-color: var(--color7);
        }

        .domain_alt_content .alt_card:nth-child(8) button {
            background: var(--color8);
            color: var(--color-white);
            border-color: var(--color8);
        }

        .domain_alt_content .alt_card:nth-child(9) button {
            background: var(--color9);
            color: var(--color-white);
            border-color: var(--color9);
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .domain_alt_section .domain_alt_content {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

/****** Purchase2 component ******/
@layer domain-purchase2 {
    .purchase2_container {
        background: var(--linear-gradient);
    }
}

/****** Purchase2 component ******/
@layer domain-testimonial2 {
    .testimonial2_container {
        background: var(--color-light-white);
    }
}