/****** Hero component ******/
@layer error-hero {
    .error_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .error_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .error_hero_section .error_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .error_hero_section .error_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .error_hero_section .error_hero_content p {
        font-size: var(--fontsize-18);
    }

    .error_hero_section .error_hero_content p span {
        color: orange;
    }

    .error_hero_section .error_hero_image {
        width: 100%;
        height: 100%;
    }

    .error_hero_section .error_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .error_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Main component ******/
@layer error-main {
    .error_main_section {
        background: var(--color-white);
        color: var(--color-black);
    }

    .error_main_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
        gap: 5rem;
    }

    .error_main_section .error_main_banner {
        width: 100%;
    }

    .error_main_section .error_main_banner > * {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error_main_section .error_main_banner div.num {
        font-size: calc(300/16 *1rem);
        font-weight: 500;
        color: var(--color-light-blue);
    }

    .error_main_section .error_main_content {
        width: 100%;
        text-align: center;
    }

    .error_main_section .error_main_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .error_main_section .error_main_content h2 {
        font-family: var(--font-montserrat);
        text-transform: capitalize;
        font-size: var(--fontsize-24);
    }

    .error_main_section .error_main_content a {
        padding: .75rem 1.25rem;
        border: 1px solid var(--color-main-blue);
        border-radius: 25px;
        margin-top: 2rem;
    }

    /* Media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .error_main_section .error_main_banner div.num {
            font-size: calc(200/16 *1rem);
        }
    }

    @media screen and (max-width: calc(550/16 *1rem)) {
        .error_main_section .error_main_banner div.num {
            font-size: calc(125/16 *1rem);
        }
    }

    @media screen and (max-width: calc(380/16 *1rem)) {
        .error_main_section .error_main_banner div.num {
            font-size: calc(95/16 *1rem);
        }
    }
}