<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex flex-column align-center">
        <div class="choose_title">
            <h2>Why Choose Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur odit deleniti debitis corporis,
                recusandae culpa?</p>
        </div>

        <div class="choose_card display_flex justify-center align-center flex-gap-100">
            <div class="card_container display_flex flex-column justify-center align-center">
                <div class="img_container">
                    <img src="../../images/database-security.png" alt="Security Image">
                </div>
                <h3>Guaranteed Security</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure and praising pain was.
                </p>
            </div>

            <div class="card_container display_flex flex-column justify-center align-center">
                <div class="img_container">
                    <img src="../../images/advance-technology.png" alt="Technology Image">
                </div>
                <h3>Advanced Technology</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure and praising pain was.
                </p>
            </div>

            <div class="card_container display_flex flex-column justify-center align-center">
                <div class="img_container">
                    <img src="../../images/boost-credibility.png" alt="Credibility Image">
                </div>
                <h3>Boost Credibility</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure and praising pain was.
                </p>
            </div>
        </div>
    </div>
</body>

</html>