<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex flex-column align-center">
        <div class="faq_title">
            <h2>Frequently Asked Questions</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis illo placeat sit veniam.</p>
        </div>

        <div class="faq_content display_flex justify-between align-center flex-gap-150">
            <div class="faq_image img_container">
                <img src="../../images/data-cloud-1.png" alt="Data cloud image">
            </div>

            <div class="faq_details">
                <div class="accordian_title display_flex justify-around align-center">
                    <p>General</p>
                    <p>Account</p>
                    <p>Price</p>
                    <p>Policy</p>
                </div>

                <div class="accordian_container display_flex flex-column justify-between align-center">
                    <div class="accordian">
                        <input class="display_hidden" type="checkbox" id="faq1" checked>
                        <label for="faq1">
                            <ion-icon class="accordian_icon" name="chevron-forward-outline"></ion-icon>
                            Why we are the best than other?
                        </label>
                        <div>
                            <p class="accordian_content">But I must explain to you how all this mistaken idea of
                                denouncing pleassure and praising pain was</p>
                        </div>
                    </div>

                    <div class="accordian">
                        <input class="display_hidden" type="checkbox" id="faq2">
                        <label for="faq2">
                            <ion-icon class="accordian_icon" name="chevron-forward-outline"></ion-icon>
                            Why would you take our service?
                        </label>
                        <div>
                            <p class="accordian_content">But I must explain to you how all this mistaken idea of
                                denouncing
                                pleassure and praising pain was</p>
                        </div>
                    </div>

                    <div class="accordian">
                        <input class="display_hidden" type="checkbox" id="faq3">
                        <label for="faq3">
                            <ion-icon class="accordian_icon" name="chevron-forward-outline"></ion-icon>
                            Do you know who we are?
                        </label>
                        <div>
                            <p class="accordian_content">But I must explain to you how all this mistaken idea of
                                denouncing
                                pleassure and praising pain was</p>
                        </div>
                    </div>

                    <div class="accordian">
                        <input class="display_hidden" type="checkbox" id="faq4">
                        <label for="faq4">
                            <ion-icon class="accordian_icon" name="chevron-forward-outline"></ion-icon>
                            Our mission and vision?
                        </label>
                        <div>
                            <p class="accordian_content">But I must explain to you how all this mistaken idea of
                                denouncing
                                pleassure and praising pain was</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>