<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex justify-center align-center flex-gap-150">
        <div class="features_card display_flex flex-column align-start justify-around">
            <div class="features_image img_container">
                <img src="../../images/free-update.png" alt="Free Update Image">
            </div>
            <div class="features_details">
                <h3>Free Update</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure
                </p>
            </div>
        </div>

        <div class="features_card display_flex flex-column align-start justify-around">
            <div class="features_image img_container">
                <img src="../../images/email-transfer.png" alt="Email Transfer Image">
            </div>
            <div class="features_details">
                <h3>Email Transfer</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure
                </p>
            </div>
        </div>

        <div class="features_card display_flex flex-column align-start justify-around">
            <div class="features_image img_container">
                <img src="../../images/more-secured.png" alt="More Secured Image">
            </div>
            <div class="features_details">
                <h3>More Secured</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure
                </p>
            </div>
        </div>

        <div class="features_card display_flex flex-column align-start justify-around">
            <div class="features_image img_container">
                <img src="../../images/c-pannel.png" alt="Cpanel Image">
            </div>
            <div class="features_details">
                <h3>cPanel Included</h3>
                <p>But I must explain to you how all this mistaken idea of denouncing pleassure
                </p>
            </div>
        </div>
    </div>
</body>

</html>