<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container">
        <!-- ****** Footer contacts ****** -->
        <div class="footer_contacts">
            <p><ion-icon name="headset-outline" class="icon"></ion-icon>
                +0123456789</p>
            <p><ion-icon name="mail-outline" class="icon"></ion-icon>
                support@bdev.com</p>
            <p><ion-icon name="home-outline" class="icon"></ion-icon>
                123, Main Road, C Block, India</p>
        </div>

        <div class="horizontal_line"></div>


        <div class="footer_anchors">
            <!-- ****** Footer services ****** -->
            <div class="footer_services">
                <h3 class="header_bottom_design">Our Services</h3>
                <div>
                    <p><a href="../dedicated/dedicated.html">Dedicated Hosting</a></p>
                    <p><a href="../shared/shared.html">Shared Hosting</a></p>
                    <p><a href="../whmcs/whmcs.html">WHMCS Hosting</a></p>
                    <p><a href="#">Reseller Hosting</a></p>
                    <p><a href="#">Cloud Hosting</a></p>
                    <p><a href="#">VPS Hosting</a></p>
                </div>
            </div>

            <!-- ****** Footer links ****** -->
            <div class="footer_links">
                <h3 class="header_bottom_design">Quick Links</h3>
                <div class="display_flex justify-between">
                    <div>
                        <p><a href="../index/index.html">Home page</a></p>
                        <p><a href="../about/about.html">About Us</a></p>
                        <p><a href="../home2/home2.html">Our Services</a></p>
                        <p><a href="../domain/domain.html">Search Domain</a></p>
                        <p><a href="../support/support.html">Support Center</a></p>
                        <p><a href="../error/error.html">Don't Load?</a></p>
                    </div>

                    <div>
                        <p><a href="../bloggrid/bloggrid.html">Latest News</a></p>
                        <p><a href="../testimonials/testimonials.html">Our Testimonials</a></p>
                        <p><a href="../shopgrid/shopgrid.html">Our Shop</a></p>
                        <p><a href="../policy/policy.html">Privacy Policy</a></p>
                        <p><a href="../faq/faq.html">FAQ</a></p>
                    </div>
                </div>
            </div>

            <!-- ****** Footer newsletter ****** -->
            <div class="footer_newsletter">
                <h3 class="header_bottom_design">Newsletter</h3>
                <p>Subscribe to our list to get the updates to your gmail</p>
                <input type="text" placeholder="Enter your email">
                <button class="btn2">Subscribe</button>
            </div>
        </div>

        <div class="horizontal_line"></div>

        <!-- ****** Footer about ****** -->
        <div class="footer_about">
            <div class="company_details">
                <div class="footer_logo">
                    <div class="img_container">
                        <img width="150" height="150" src="../../images/logo.png" alt="BDev Logo">
                    </div>
                    <p><span>B</span><span>Devs</span></p>
                </div>

                <p class="details">But I must explain to you how all this mistaken idea of denouncing pleasure and
                    praising pain born
                    and I will give you the complete account of the system and the actual teaching of the great explorer
                    of the true master.
                </p>
            </div>

            <!-- ****** Footer social icons ****** -->
            <div class="footer_socials">
                <h3 class="header_bottom_design">Follow Us</h3>

                <div class="display_flex">
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-facebook"></ion-icon></p>
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-twitter"></ion-icon></p>
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-dribbble"></ion-icon></p>
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-google"></ion-icon></p>
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-pinterest"></ion-icon></p>
                    <p class="display_flex justify-center align-center"><ion-icon name="logo-instagram"></ion-icon></p>
                </div>
            </div>
        </div>

        <div class="horizontal_line"></div>

        <!-- ****** Footer copyright ****** -->
        <div class="footer_copyright">
            <p>2025 © All rights reserved. BDevs private ltd.</p>
            <img width="300px" height="52" src="../../images/payment-card.png" alt="Payment gateways image">
        </div>
    </div>
</body>

</html>