<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex justify-center align-center">
        <form action="#" class="message_form display_flex flex-column justify_around flex-gap-150">
            <div class="form_info display_flex justify-between align-center flex-gap-50">
                <input type="text" placeholder="Name:" required>
                <input type="text" placeholder="Email:" required>
            </div>

            <div class="form_message display_flex flex-column justify-between align-center flex-gap-100">
                <input type="text" placeholder="Subject: I would like to discuss" required>
                <textarea type="text" placeholder="Message:" required></textarea>
            </div>

            <button class="form_button btn">Send message</button>
        </form>
    </div>
</body>

</html>