<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex justify-between align-center">
        <!-- ****** Minibar contact ****** -->
        <div class="minibar_contact display_flex justify-center align-center flex-gap-100">
            <p><ion-icon name="headset-outline"></ion-icon> +0123456789</p>
            <p><ion-icon name="mail-outline"></ion-icon> support@bdev.com</p>
        </div>

        <div class="minibar_login display_flex justify-center align-center flex-gap-100">
            <div class="minibar_contact display_flex justify-center align-center flex-gap-100">
                <p><ion-icon name="chatbox-ellipses-outline"></ion-icon> Livechat</p>
                <p><ion-icon name="key-outline"></ion-icon> Login/Register</p>
            </div>

            <div class="vertical_line vertical_line_white"></div>

            <!-- ****** Minibar social icons ****** -->
            <div class="minibar_socials display_flex justify-center align-center flex-gap-100">
                <p><ion-icon name="logo-facebook"></ion-icon></p>
                <p><ion-icon name="logo-twitter"></ion-icon></p>
                <p><ion-icon name="logo-google"></ion-icon></p>
                <p><ion-icon name="logo-dribbble"></ion-icon></p>
                <p><ion-icon name="logo-instagram"></ion-icon></p>
            </div>
        </div>
    </div>
</body>

</html>