<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container">
        <div class="partner_image_container">
            <!-- ***** Partnered companies images ***** -->
            <div class="partner_image img_container">
                <img src="../../images/mc-queen.png" alt="McQueen Logo">
            </div>
            <div class="partner_image img_container">
                <img src="../../images/the-vintage.png" alt="The Vintage Logo">
            </div>
            <div class="partner_image img_container">
                <img src="../../images/alien-valley.png" alt="Alien Valley Logo">
            </div>
            <div class="partner_image img_container">
                <img src="../../images/jefferson.png" alt="Jefferson Logo">
            </div>
            <div class="partner_image img_container">
                <img src="../../images/the-eagle.png" alt="The American Eagle Logo">
            </div>
            <div class="partner_image img_container">
                <img src="../../images/foodball-club.png" alt="Football Club Logo">
            </div>
        </div>
    </div>
</body>

</html>