<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex flex-column align-center">
        <div class="pricing1_title">
            <h2>Our pricing plan</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus, exercitationem!</p>
        </div>

        <div class="pricing1_card_container display_flex justify-center">
            <div class="card display_flex flex-column flex-gap-100 align-center">
                <div class="card_img img_container">
                    <img src="../../images/startup.png" alt="Startup image">
                </div>

                <div class="card_details display_flex flex-column align-center flex-gap-100">
                    <h3 class=" card_price">$39.99 / Monthly</h3>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <div class="card_benefits">
                        <p>10GB Ram</p>
                        <p>7/24 Support</p>
                        <p>50GB SSD Storage</p>
                        <p>Monthly Backup</p>
                        <p>Unlimited Bandwidth</p>
                    </div>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <button class="card_button btn">Choose Plan</button>
                </div>
            </div>

            <div class="card display_flex flex-column flex-gap-100 align-center">
                <div class="card_img img_container">
                    <img src="../../images/premium.png" alt="Startup image">
                </div>

                <div class="card_details display_flex flex-column align-center flex-gap-100">
                    <h3 class="card_price">$59.99 / 6 Months</h3>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <div class="card_benefits">
                        <p>10GB Ram</p>
                        <p>7/24 Support</p>
                        <p>50GB SSD Storage</p>
                        <p>Monthly Backup</p>
                        <p>Unlimited Bandwidth</p>
                    </div>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <button class="card_button btn">Choose Plan</button>
                </div>
            </div>

            <div class="card display_flex flex-column flex-gap-100 align-center">
                <div class="card_img img_container">
                    <img src="../../images/diamond.png" alt="Startup image">
                </div>

                <div class="card_details display_flex flex-column align-center flex-gap-100">
                    <h3 class="card_price">$89.99 / Yearly</h3>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <div class="card_benefits">
                        <p>10GB Ram</p>
                        <p>7/24 Support</p>
                        <p>50GB SSD Storage</p>
                        <p>Monthly Backup</p>
                        <p>Unlimited Bandwidth</p>
                    </div>

                    <div class="horizontal_line horizontal_line_gray"></div>

                    <button class="card_button btn">Choose Plan</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>