<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex justify-between align-center flex-gap-100">
        <div class="img_container">
            <img src="../../images/earth-with-laptop.png" alt="Earth Image">
        </div>

        <div class="display_flex flex-column justify-between align-start">
            <h3>Do You Want To Purchase BDevs?</h3>
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born
                and I will give you complete account.</p>
            <button class="btn">Purchase</button>
        </div>
    </div>
</body>

</html>