<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex justify-between align-center flex-gap-100">
        <div class="display_flex flex-column justify-between align-start">
            <h3>Do You Want To Purchase BDevs?</h3>
            <p>Please register now</p>
        </div>

        <button class="btn">Purchase</button>
    </div>
</body>

</html>