<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="grid_container display_flex flex-column justify-between align-center">
        <div class="testimonial_title">
            <h2>Whay our clients say</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis sint tempora cupiditate, voluptas
                molestias vero.</p>
        </div>

        <div class="testimonial2_carousel display_flex align-center flex-gap-100">
            <div class="carousel_container display_flex flex-column justify-center align-center flex-gap-100">
                <div class="carousel_quot">
                    <div class="img_container">
                        <img src="../../images/double-qoutes.png" alt="Quotation Image">
                    </div>
                </div>

                <div class="carousel_content">
                    &quot;Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, tempore consectetur. Minus
                    cupiditate obcaecati omnis nostrum officiis est quidem iusto!&quot;
                </div>

                <div class="carousel_details display_flex justify-around align-center flex-gap-100">
                    <div class="carousel_author display_flex justify-center align-center flex-gap-100">
                        <div class="img_container">
                            <img src="../../images/man-1.png" alt="Testimonial author">
                        </div>

                        <div>
                            <p>Dennis N. Vang</p>
                            <p>Web developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel_container display_flex flex-column justify-center align-center flex-gap-100">
                <div class="carousel_quot">
                    <div class="img_container">
                        <img src="../../images/double-qoutes.png" alt="Quotation Image">
                    </div>
                </div>

                <div class="carousel_content">
                    &quot;Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, tempore consectetur. Minus
                    cupiditate obcaecati omnis nostrum officiis est quidem iusto!&quot;
                </div>

                <div class="carousel_details display_flex justify-around align-center flex-gap-100">
                    <div class="carousel_author display_flex justify-center align-center flex-gap-100">
                        <div class="img_container">
                            <img src="../../images/girl-2.png" alt="Testimonial author">
                        </div>

                        <div>
                            <p>Alyson N. Vang</p>
                            <p>Web developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel_container display_flex flex-column justify-center align-center flex-gap-100">
                <div class="carousel_quot">
                    <div class="img_container">
                        <img src="../../images/double-qoutes.png" alt="Quotation Image">
                    </div>
                </div>

                <div class="carousel_content">
                    &quot;Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, tempore consectetur. Minus
                    cupiditate obcaecati omnis nostrum officiis est quidem iusto!&quot;
                </div>

                <div class="carousel_details display_flex justify-around align-center flex-gap-100">
                    <div class="carousel_author display_flex justify-center align-center flex-gap-100">
                        <div class="img_container">
                            <img src="../../images/man-3.png" alt="Testimonial author">
                        </div>

                        <div>
                            <p>Jerry N. Vang</p>
                            <p>Web developer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel_container display_flex flex-column justify-center align-center flex-gap-100">
                <div class="carousel_quot">
                    <div class="img_container">
                        <img src="../../images/double-qoutes.png" alt="Quotation Image">
                    </div>
                </div>

                <div class="carousel_content">
                    &quot;Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, tempore consectetur. Minus
                    cupiditate obcaecati omnis nostrum officiis est quidem iusto!&quot;
                </div>

                <div class="carousel_details display_flex justify-around align-center flex-gap-100">
                    <div class="carousel_author display_flex justify-center align-center flex-gap-100">
                        <div class="img_container">
                            <img src="../../images/girl-4.webp" alt="Testimonial author">
                        </div>

                        <div>
                            <p>Linda N. Vang</p>
                            <p>Web developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>