/****** Hero component ******/
@layer bloggrid-hero {
    .bloggrid_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .bloggrid_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .bloggrid_hero_section .bloggrid_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .bloggrid_hero_section .bloggrid_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .bloggrid_hero_section .bloggrid_hero_content p {
        font-size: var(--fontsize-18);
    }

    .bloggrid_hero_section .bloggrid_hero_content p span {
        color: orange;
    }

    .bloggrid_hero_section .bloggrid_hero_image {
        width: 100%;
        height: 100%;
    }

    .bloggrid_hero_section .bloggrid_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .bloggrid_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Product component ******/
@layer bloggrid-product {
    .blog_product_section {
        background: var(--color-light-white);
        color: var(--color-black);
        position: relative;
    }

    .blog_product_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .blog_product_section label.sidebar_open {
        padding: .5rem;
        border: 1px solid var(--color-gray);
        cursor: pointer;

        display: flex;
        align-items: center;
        font-size: var(--fontsize-20);
        width: fit-content;
    }

    .blog_product_section .blog_product_content {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(250/16 *1rem), 1fr));
        gap: 2rem;
    }

    .blog_product_section .blog_product_content .product_card {
        padding: 1rem;
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 4;
        gap: .25rem;
        transition: all .3s ease;
    }

    .blog_product_content .product_card .card_image {
        width: 100%;
        height: calc(150/16 *1rem);
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .blog_product_content .product_card .card_title,
    .blog_product_content .product_card .card_author,
    .blog_product_content .product_card .card_comment {
        margin: 0;
    }

    .blog_product_content .product_card .card_title {
        font-family: var(--font-montserrat);
        color: var(--color-black);
        padding: 1rem 0 0;
        text-transform: capitalize;
        transition: color .3s ease;
    }

    .blog_product_content .product_card:hover {
        transform: scale(1.02) translateY(-5px);
    }

    .blog_product_content .product_card:hover .card_title {
        color: var(--color-main-blue);
    }

    .blog_product_content .product_card .card_author {
        color: var(--color-dark-gray);
    }

    .blog_product_content .product_card .card_author .icon {
        font-size: var(--fontsize-20);
    }

    .blog_product_content .product_card .card_comment {
        color: var(--color-dark-gray);
    }

    .blog_product_section .blog_product_page {
        align-self: center;
    }

    .blog_product_section .blog_product_page p.num {
        width: calc(30/16 *1rem);
        height: calc(30/16 *1rem);
        background: var(--color-gray);
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog_product_section .blog_product_page p {
        font-weight: 600;
        transition: all .3s ease;
        cursor: pointer;
    }

    .blog_product_section .blog_product_page p.num:hover {
        background: var(--color-main-blue);
        color: var(--color-white);
    }

    .blog_product_section .blog_product_page p:hover {
        color: var(--color-main-blue);
    }

    /* Media queries */
    @media screen and (max-width: calc(400/16 *1rem)) {
        .blog_product_section .blog_product_content .product_card {
            padding-inline: 0;
        }
    }
}

/****** Sidebar component ******/
@layer bloggrid-sidebar {
    .blog_sidebar_section {
        background: var(--color-white);
        color: var(--color-black);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .5s ease-in-out;

        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(-150%);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        width: calc(500/16 *1rem);
        height: 100%;
        padding: 5rem 2rem;
        padding-left: 3.5rem;
        z-index: 3;
    }

    .blog_sidebar_search,
    .blog_sidebar_category,
    .blog_sidebar_news,
    .blog_sidebar_tags {
        width: 100%;
        border: 1px solid var(--color-gray);
        padding: 1rem;
    }

    .blog_sidebar_search h4,
    .blog_sidebar_category h4,
    .blog_sidebar_news h4,
    .blog_sidebar_tags h4 {
        font-family: var(--font-montserrat);
        font-size: var(--fontsize-18);
        margin-bottom: 2.5rem;
        position: relative;
    }

    .blog_sidebar_search h4::before,
    .blog_sidebar_category h4::before,
    .blog_sidebar_news h4::before,
    .blog_sidebar_tags h4::before {
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 3px;

        background: var(--color-gray);
        position: absolute;
        left: 0;
        bottom: -8px;
    }

    .blog_sidebar_search h4::after,
    .blog_sidebar_category h4::after,
    .blog_sidebar_news h4::after,
    .blog_sidebar_tags h4::after {
        content: '';
        width: 35%;
        height: 2px;
        border-radius: 3px;

        background: var(--color-main-blue);
        position: absolute;
        left: 0;
        bottom: -8px;
    }

    .blog_sidebar_search {
        width: 100%;
        padding: 1rem 1.5rem;
        background: var(--color-gray);
        border: 1px solid var(--color-gray);
    }

    .blog_sidebar_search .form_group {
        border: 1px solid var(--color-gray);
        background: var(--color-light-gray);
        padding: .5rem;
    }

    .blog_sidebar_search .form_group input {
        width: 100%;
        height: 100%;

        background: transparent;
        border: none;
        font-size: var(--fontsize-14);
        color: var(--color-text-mute);
    }

    .blog_sidebar_search .form_group .icon {
        font-size: var(--fontsize-20);
        color: var(--color-text-mute);
        cursor: pointer;
    }

    .blog_sidebar_category p {
        color: var(--color-dark-gray);
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease;
    }

    .blog_sidebar_category p:hover {
        color: var(--color-main-blue);
    }

    .blog_sidebar_news .news_group .img_container {
        width: calc(110/16 *1rem);
        height: 100%;
    }

    .blog_sidebar_news .news_group .news p:nth-child(1) {
        font-weight: 600;
    }

    .blog_sidebar_news .news_group .news p:nth-child(2) {
        color: var(--color-dark-gray);
    }

    .blog_sidebar_tags div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 1rem;
    }

    .blog_sidebar_tags div p {
        border: 1px solid var(--color-light-gray);
        padding: .5rem;
        font-weight: 500;
        transition: all .3s ease;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .blog_sidebar_tags div p:hover {
        background: var(--color-main-blue);
        color: var(--color-white);
    }

    .blog_sidebar_section .sidebar_close {
        padding: .5rem;
        border: 1px solid var(--color-gray);
        font-size: var(--fontsize-20);

        position: absolute;
        right: 1rem;
        top: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    input#sidebar:checked ~ .blog_sidebar_section {
        transform: translateX(0);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_sidebar_section {
            width: 100%;
            padding-inline: 1rem;
        }
    }
}