/****** Hero component ******/
@layer shopdetails-hero {
    .shopdetails_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .shopdetails_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .shopdetails_hero_section .shopdetails_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .shopdetails_hero_section .shopdetails_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .shopdetails_hero_section .shopdetails_hero_content p {
        font-size: var(--fontsize-18);
    }

    .shopdetails_hero_section .shopdetails_hero_content p span {
        color: orange;
    }

    .shopdetails_hero_section .shopdetails_hero_image {
        width: 100%;
        height: 100%;
    }

    .shopdetails_hero_section .shopdetails_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .shopdetails_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Product component ******/
@layer shopdetails-product {
    .shopdetails_product_section {
        background: var(--color-light-white);
        color: var(--color-black);
    }

    .shopdetails_product_section > .grid_container {
        width: 100%;
        padding: 5rem 0;
    }

    .shopdetails_product_section .shopdetails_product_image {
        width: calc(350/16 *1rem);
        background: var(--color-light-gray);
        padding: 2rem 2.5rem;
        position: relative;
    }

    .shopdetails_product_section .shopdetails_product_image .icon-right,
    .shopdetails_product_section .shopdetails_product_image .icon-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: all .3s ease;

        font-size: var(--fontsize-24);
        background: var(--color-white);
        border-radius: 50%;
        padding: .25rem;
        cursor: pointer;
    }

    .shopdetails_product_section .shopdetails_product_image .icon-right:hover,
    .shopdetails_product_section .shopdetails_product_image .icon-left:hover {
        background: var(--color-aqua-blue);
        color: var(--color-white);
    }

    .shopdetails_product_section .shopdetails_product_image .icon-right {
        right: -15px;
    }

    .shopdetails_product_section .shopdetails_product_image .icon-left {
        left: -15px;
    }

    .shopdetails_product_section .shopdetails_product_content {
        width: 100%;
    }

    .shopdetails_product_section .shopdetails_product_content h2 {
        font-family: var(--font-montserrat);
        color: var(--color-text-mute);
        text-align: center;
    }

    .shopdetails_product_section .shopdetails_product_content h3 {
        font-family: var(--font-montserrat);
        color: var(--color-dark-gray);
        text-align: center;
    }

    .shopdetails_product_section .shopdetails_product_content p.available {
        font-weight: 600;
    }

    .shopdetails_product_section .shopdetails_product_content p.content {
        color: var(--color-text-mute);
        width: 60%;
        text-align: center;
    }

    .shopdetails_product_content .input_group .input_form {
        width: fit-content;
        height: 100%;
    }

    .shopdetails_product_content .input_group .input_form input {
        width: calc(40/16 *1rem);
        height: 100%;

        border: 1px solid var(--color-gray);
        color: var(--color-dark-gray);
        background: transparent;
    }

    .shopdetails_product_content .input_group .input_form .icon {
        width: calc(30/16 *1rem);
        height: calc(30/16 *1rem);

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--color-dark-gray);
        border: 1px solid var(--color-gray);
        cursor: pointer;
    }

    .shopdetails_product_content .input_group .btn {
        border-radius: 25px;
        text-transform: uppercase;
    }

    .shopdetails_product_section .shopdetails_product_social p {
        font-weight: 600;
    }

    .shopdetails_product_section .shopdetails_product_social p .icon {
        font-size: var(--fontsize-20);
        cursor: pointer;
    }

    .shopdetails_product_section .shopdetails_product_social p span {
        color: var(--color-text-mute);
    }

    .shopdetails_product_section .shopdetails_product_social .img_container {
        width: calc(80/16 *1rem);
        height: calc(40/16 *1rem);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .shopdetails_product_section .shopdetails_product_image {
            width: 90%;
        }

        .shopdetails_product_section .shopdetails_product_content p.content {
            width: 95%;
        }

        .shopdetails_product_section .shopdetails_product_social div.wishlist {
            flex-wrap: wrap;
            gap: .5rem;
        }

        .shopdetails_product_section .shopdetails_product_social div.share {
            flex-wrap: wrap;
        }
    }
}

/****** Review component ******/
@layer shopdetails-review {
    .shopdetails_review_Section {
        background: var(--color-light-white);
        color: var(--color-black);
    }

    .shopdetails_review_Section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .shopdetails_review_Section .shopdetails_review_subtitle {
        width: fit-content;
        position: relative;
    }

    .shopdetails_review_Section .shopdetails_review_subtitle::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 3px;
        border-radius: 3px;
        background: var(--color-gray);
    }

    .shopdetails_review_Section .shopdetails_review_subtitle::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;

        width: 45%;
        height: 3px;
        border-radius: 3px;
        background: var(--color-main-blue);
    }

    .shopdetails_review_Section .shopdetails_review_subtitle p {
        color: var(--color-text-mute);
        font-weight: 600;
        cursor: pointer;
        transition: color .3s ease;
    }

    .shopdetails_review_Section .shopdetails_review_subtitle p:nth-child(2) {
        color: var(--color-main-blue);
    }

    .shopdetails_review_details {
        gap: 2.5rem;
    }

    .shopdetails_review_Section .shopdetails_review_details .shopdetails_review_content,
    .shopdetails_review_Section .shopdetails_review_details .shopdetails_review_form {
        width: 100%;
    }

    .shopdetails_review_Section .shopdetails_review_details .shopdetails_review_content h3,
    .shopdetails_review_Section .shopdetails_review_details .shopdetails_review_form h3 {
        font-family: var(--font-montserrat);
    }

    .shopdetails_review_content .review_body {
        border: 1px solid var(--color-gray);
        padding: 1rem;
    }

    .shopdetails_review_content .review .img_container {
        width: calc(200/16 *1rem);
        height: calc(100/16 *1rem);
    }

    .shopdetails_review_content .review .img_container img {
        object-fit: scale-down;
    }

    .shopdetails_review_content .review p {
        font-weight: 600;
    }

    .shopdetails_review_content .review p span {
        font-weight: 500;
        color: var(--color-dark-gray);
    }

    .shopdetails_review_form .form_group {
        gap: 1.5rem;
    }

    .shopdetails_review_form .form_group input,
    .shopdetails_review_form .form_group textarea {
        border: 1px solid var(--color-gray);
        color: var(--color-text-mute);
        background: transparent;

        font-size: var(--fontsize-14);
        padding: .5rem;
        resize: none;
    }

    .shopdetails_review_form .form_group textarea {
        height: 5rem;
    }

    .shopdetails_review_form .form_group div h4 {
        font-family: var(--font-montserrat);
        font-size: var(--fontsize-18);
        margin: 0;
    }

    .shopdetails_review_form .form_group div .icon {
        color: orange;
        cursor: pointer;
        font-size: var(--fontsize-20);
    }

    .shopdetails_review_form .form_group .btn {
        border-radius: 0;
        background: var(--color-black);
        color: var(--color-white);
        text-transform: uppercase;
        padding-inline: 2rem;
    }

    /* Media queries */
    @media screen and (max-width: calc(800/16 *1rem)) {
        .shopdetails_review_Section .shopdetails_review_details {
            flex-direction: column;
        }

        .shopdetails_review_form .form_group input,
        .shopdetails_review_form .form_group textarea {
            width: calc(400/16 *1rem);
        }
    }

    @media screen and (max-width: calc(450/16 *1rem)) {
        .shopdetails_review_content .review .img_container {
            width: 100%;
        }

        .shopdetails_review_Section .shopdetails_review_details {
            flex-direction: column;
        }

        .shopdetails_review_form .form_group input,
        .shopdetails_review_form .form_group textarea {
            width: 100%;
        }
    }
}