/****** Hero component ******/
@layer blog-hero {
    .blog_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .blog_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .blog_hero_section .blog_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .blog_hero_section .blog_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .blog_hero_section .blog_hero_content p {
        font-size: var(--fontsize-18);
    }

    .blog_hero_section .blog_hero_content p span {
        color: orange;
    }

    .blog_hero_section .blog_hero_image {
        width: 100%;
        height: 100%;
    }

    .blog_hero_section .blog_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Product card component ******/
@layer blog-product-card {
    .blog_product_section {
        background: var(--color-light-white);
        color: var(--color-black);
        position: relative;
    }

    .blog_product_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .blog_product_section label.sidebar_open {
        align-self: flex-end;
        padding: .5rem;
        border: 1px solid var(--color-gray);
        color: var(--color-text-mute);
        cursor: pointer;

        display: flex;
        align-items: center;
        font-size: var(--fontsize-20);
        width: fit-content;
    }

    .blog_product_section .blog_product_card {
        padding: 2rem 0;
        width: 80%;
    }

    .blog_product_card .img_container {
        width: 100%;
    }

    .blog_product_card .card_title {
        width: 100%;
        font-family: var(--font-montserrat);
    }

    .blog_product_card .card_author,
    .blog_product_card .card_comment {
        color: var(--color-dark-gray);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_section .blog_product_card {
            width: 100%;
        }
    }
}

/****** Product Quote component ******/
@layer blog-product-quote {
    .blog_product_quote {
        width: 80%;
    }

    .blog_product_quote .quote1,
    .blog_product_quote .quote2 {
        background: var(--color-gray);
        padding: 2rem 1.5rem;
    }

    .blog_product_quote h4 {
        font-family: var(--font-montserrat);
        font-size: var(--fontsize-18);
        margin: 0;
    }

    .blog_product_quote p {
        color: var(--color-text-mute);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_quote {
            width: 100%;
            flex-direction: column;
        }
    }
}

/****** Product Footer component ******/
@layer blog-product-footer {
    .blog_product_footer {
        width: 80%;
        margin-block: 1rem;
    }

    .blog_product_footer > p:nth-child(1) {
        color: var(--color-dark-gray);
    }

    .blog_product_footer .footer_tags {
        font-weight: 600;
    }

    .blog_product_footer .footer_tags p span {
        color: var(--color-dark-gray);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_footer {
            width: 100%;
        }

        .blog_product_footer .footer_tags {
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: .5rem;
        }
    }
}

/****** Product Post component ******/
@layer blog-product-post {
    .blog_product_post {
        width: 80%;
        padding: 3rem 0;
        margin-block: 2rem;
        border-top: 1px solid var(--color-gray);
        border-bottom: 1px solid var(--color-gray);
    }

    .blog_product_post > * {
        width: 100%;
    }

    .blog_product_post .next_post h3,
    .blog_product_post .next_post .btn {
        align-self: flex-end;
        text-align: right;
    }

    .blog_product_post .btn {
        margin-top: 2rem;
        border-radius: 0;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_post {
            width: 100%;
            flex-direction: column;
            gap: 3rem;
        }

        .blog_product_post .btn {
            margin-top: 1rem;
        }
    }
}

/****** Product author component ******/
@layer blog-product-author {
    .blog_product_author {
        width: 80%;
        margin-block: 1rem;
        padding: 2rem 1rem;
        background: var(--color-light-gray);
    }

    .blog_product_author .img_container {
        width: calc(240/16 *1rem);
        height: 100%;
    }

    .blog_product_author .author_details h4 {
        font-family: var(--font-montserrat);
        font-size: var(--fontsize-18);
    }

    .blog_product_author .author_details p {
        color: var(--color-dark-gray);
    }

    .blog_product_author .author_details .icon {
        font-size: var(--fontsize-18);
        cursor: pointer;
    }

    /* Media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .blog_product_author .img_container {
            width: 100%;
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_author {
            width: 100%;
            flex-direction: column;
            padding-block: 1rem;
        }

        .blog_product_author .img_container img {
            object-fit: scale-down;
        }
    }
}

/****** Product comment component ******/
@layer blog-product-comment {
    .blog_product_comments {
        width: 80%;
    }

    .blog_product_comments div.card {
        width: 90%;
    }

    .blog_product_comments > .card:nth-child(2),
    .blog_product_comments > .card:nth-child(4) {
        align-self: flex-start;
    }

    .blog_product_comments > .card:nth-child(3) {
        align-self: flex-end;
    }

    .blog_product_comments > .card .img_container {
        width: calc(100/16 *1rem);
        height: calc(80/16 *1rem);
        border-radius: 50%;
    }

    .blog_product_comments h3 {
        font-family: var(--font-montserrat);
        margin-bottom: 1rem;
    }

    .blog_product_comments p {
        color: var(--color-dark-gray);
    }

    .blog_product_comments .author_details p:nth-child(3) {
        color: var(--color-text-mute);
        font-weight: 600;
        cursor: pointer;
    }

    /* Media queries */
    @media screen and (max-width: calc(992/16 *1rem)) {
        .blog_product_comments > .card .img_container {
            width: calc(120/16 *1rem);
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_comments > .card {
            flex-direction: column;
        }

        .blog_product_comments > .card .img_container {
            width: calc(100/16 *1rem);
            height: calc(100/16 *1rem);
            border-radius: 0;
        }

        .blog_product_comments > .card .img_container img {
            object-fit: scale-down;
        }

        .blog_product_comments {
            width: 100%;
        }
    }
}

/****** Product input component ******/
@layer blog-product-input {
    .blog_product_input {
        width: 80%;
        margin-block: 1rem;
    }

    .blog_product_input h3 {
        font-family: var(--font-montserrat);
    }

    .blog_product_input input,
    .blog_product_input textarea {
        width: 100%;
        font-size: var(--fontsize-14);
        padding: .5rem 1rem;
        border: 1px solid var(--color-gray);
        background: transparent;
        color: var(--color-text-mute);
    }

    .blog_product_input textarea {
        height: 5rem;
        resize: none;
    }

    .blog_product_input .btn {
        text-transform: uppercase;
        padding-inline: 2rem;
        padding-block: .75rem;
    }

    .blog_product_input .input_form {
        width: 100%;
    }

    /* Media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .blog_product_input .input_form {
            flex-direction: column;
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_product_input {
            width: 100%;
        }
    }
}

/****** Sidebar component ******/
@layer blog-sidebar {
    .blog_sidebar_section {
        background: var(--color-white);
        color: var(--color-black);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all .5s ease-in-out;

        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(150%);

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2rem;

        width: calc(500/16 *1rem);
        height: 100%;
        padding: 5rem 2rem;
        padding-right: 3.5rem;
        z-index: 3;
        display: none;
    }

    .blog_sidebar_search,
    .blog_sidebar_category,
    .blog_sidebar_news,
    .blog_sidebar_tags {
        width: 100%;
        border: 1px solid var(--color-gray);
        padding: 1rem;
    }

    .blog_sidebar_search h4,
    .blog_sidebar_category h4,
    .blog_sidebar_news h4,
    .blog_sidebar_tags h4 {
        font-family: var(--font-montserrat);
        font-size: var(--fontsize-18);
        margin-bottom: 2.5rem;
        position: relative;
    }

    .blog_sidebar_search h4::before,
    .blog_sidebar_category h4::before,
    .blog_sidebar_news h4::before,
    .blog_sidebar_tags h4::before {
        content: '';
        width: 100%;
        height: 2px;
        border-radius: 3px;

        background: var(--color-gray);
        position: absolute;
        left: 0;
        bottom: -8px;
    }

    .blog_sidebar_search h4::after,
    .blog_sidebar_category h4::after,
    .blog_sidebar_news h4::after,
    .blog_sidebar_tags h4::after {
        content: '';
        width: 35%;
        height: 2px;
        border-radius: 3px;

        background: var(--color-main-blue);
        position: absolute;
        left: 0;
        bottom: -8px;
    }

    .blog_sidebar_search {
        width: 100%;
        padding: 1rem 1.5rem;
        background: var(--color-gray);
        border: 1px solid var(--color-gray);
    }

    .blog_sidebar_search .form_group {
        border: 1px solid var(--color-gray);
        background: var(--color-light-gray);
        padding: .5rem;
    }

    .blog_sidebar_search .form_group input {
        width: 100%;
        height: 100%;

        background: transparent;
        border: none;
        font-size: var(--fontsize-14);
        color: var(--color-text-mute);
    }

    .blog_sidebar_search .form_group .icon {
        font-size: var(--fontsize-20);
        color: var(--color-text-mute);
        cursor: pointer;
    }

    .blog_sidebar_category p {
        color: var(--color-dark-gray);
        font-weight: 500;
        cursor: pointer;
        transition: all .3s ease;
    }

    .blog_sidebar_category p:hover {
        color: var(--color-main-blue);
    }

    .blog_sidebar_news .news_group .img_container {
        width: calc(110/16 *1rem);
        height: 100%;
    }

    .blog_sidebar_news .news_group .news p:nth-child(1) {
        font-weight: 600;
    }

    .blog_sidebar_news .news_group .news p:nth-child(2) {
        color: var(--color-dark-gray);
    }

    .blog_sidebar_tags div {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 1rem;
    }

    .blog_sidebar_tags div p {
        border: 1px solid var(--color-light-gray);
        padding: .5rem;
        font-weight: 500;
        transition: all .3s ease;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .blog_sidebar_tags div p:hover {
        background: var(--color-main-blue);
        color: var(--color-white);
    }

    .blog_sidebar_section .sidebar_close {
        padding: .5rem;
        border: 1px solid var(--color-gray);
        font-size: var(--fontsize-20);

        position: absolute;
        right: 1rem;
        top: 1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    input#sidebar:checked ~ .blog_sidebar_section {
        display: flex;
        transform: translateX(0);
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .blog_sidebar_section {
            width: 100%;
            padding-inline: 1rem;
        }
    }
}