/****** Hero component ******/
@layer whmcs-hero {
    .whmcs_hero_section {
        background: var(--linear-gradient);
        color: var(--color-black);
    }

    .whmcs_hero_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .whmcs_hero_section .whmcs_hero_content {
        width: 100%;
        gap: 2rem;
        color: var(--color-light-white);
    }

    .whmcs_hero_section .whmcs_hero_content h1 {
        font-family: var(--font-montserrat);
        text-transform: uppercase;
    }

    .whmcs_hero_section .whmcs_hero_content p {
        font-size: var(--fontsize-18);
    }

    .whmcs_hero_section .whmcs_hero_content p span {
        color: orange;
    }

    .whmcs_hero_section .whmcs_hero_image {
        width: 100%;
        height: 100%;
    }

    .whmcs_hero_section .whmcs_hero_image img {
        object-fit: contain;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .whmcs_hero_section > .grid_container {
            flex-direction: column;
            justify-content: center;
        }
    }
}

/****** Search component ******/
@layer whmcs-search {
    .whmcs_search_section {
        background: var(--color-white);
        color: var(--color-black);
    }

    .whmcs_search_section > .grid_container {
        width: 100%;
        padding: 3rem 0;
    }

    .whmcs_search_section .whmcs_search_content {
        width: 70%;
        padding: 1rem 0;
        border-radius: 3px;
    }

    .whmcs_search_section .whmcs_search_content > p:nth-child(1) {
        font-size: var(--fontsize-20);
        color: var(--color-dark-gray);
        font-weight: 500;
        text-align: center;
    }

    .whmcs_search_content .whmcs_form_group {
        width: 100%;
        padding: .5rem 1rem;

        border: 1px solid var(--color-gray);
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .whmcs_search_content .whmcs_form_group .whmcs_button_group {
        width: 100%;
    }

    .whmcs_search_content .whmcs_form_group input,
    .whmcs_search_content .whmcs_form_group select {
        width: 100%;
        border: none;
        outline: none;
        color: var(--color-dark-gray);
    }

    .whmcs_search_content .whmcs_form_group input::placeholder {
        font-size: var(--fontsize-14);
        color: var(--color-dark-gray);
    }

    .whmcs_search_content .whmcs_form_group .btn {
        width: 80%;
        border-radius: 25px;
        text-transform: uppercase;
    }

    .whmcs_search_content .whmcs_code_group {
        width: 80%;
    }

    .whmcs_search_content .whmcs_code_group p {
        color: var(--color-dark-gray);
    }

    .whmcs_search_content .whmcs_code_group input {
        border-color: var(--color-dark-gray);
        width: 100%;
        height: 100%;
    }

    .whmcs_search_content .whmcs_code_group button {
        width: 60%;
        border-radius: 0;
        background-color: var(--color-aqua-blue);
        border-color: var(--color-aqua-blue);
    }

    .whmcs_search_content .whmcs_code_group button:hover {
        background: transparent;
        color: var(--color-aqua-blue);
    }

    /* Media queries */
    @media screen and (max-width: calc(768/16 *1rem)) {
        .whmcs_search_content .whmcs_form_group {
            flex-direction: column;
            border-radius: 10px;
            gap: 1rem;
        }

        .whmcs_search_content .whmcs_form_group input {
            padding: .5rem 1rem;
            border: 1px solid var(--color-light-gray);
            border-radius: 10px;
        }

        .whmcs_search_content .whmcs_form_group select {
            border: 1px solid var(--color-light-gray);
            border-radius: 10px;
            padding: .5rem;
        }

        .whmcs_search_content .whmcs_code_group {
            flex-direction: column;
            width: 100%;
        }

        .whmcs_search_content .whmcs_code_group input {
            width: 70%;
        }

        .whmcs_search_content .whmcs_code_group button {
            margin-top: 1rem;
        }
    }

    @media screen and (max-width: calc(576/16 *1rem)) {
        .whmcs_search_content .whmcs_form_group .whmcs_button_group {
            flex-direction: column;
            gap: 1rem;
        }

        .whmcs_search_section .whmcs_search_content {
            width: 100%;
            padding: 1rem 0;
            border-radius: 3px;
        }

        .whmcs_search_content .whmcs_code_group input {
            width: 90%;
        }

        .whmcs_search_content .whmcs_code_group button {
            width: fit-content;
        }
    }
}

/****** Description component ******/
@layer whmcs-description {
    .whmcs_description_section {
        background: var(--color-white);
        color: var(--color-black);
    }

    .whmcs_description_section > .grid_container {
        padding: 3rem 0;
        text-align: left;
    }

    .whmcs_description_section p {
        color: var(--color-text-mute);
    }

    .whmcs_description_section .btn {
        border-radius: 25px;
        text-transform: uppercase;
        padding: .75rem 1.5rem;
    }

    /* Media queries */
    @media screen and (max-width: calc(576/16 *1rem)) {
        .whmcs_description_section > .grid_container {
            align-items: center;
        }
    }
}

/****** Purchase2 component ******/
@layer whmcs-purchase2 {
    .purchase2_container {
        background: var(--linear-gradient);
    }
}